:root {
  height: 100%;
  font-family: 'Ubuntu';
}

body {
  height: 100%;
  margin: 0;
}

router-outlet.flex-layout + * {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/Ubuntu-Regular.ttf');
}
