:host {
  width: 35px;
  height: 50px;
}

svg {
  width: 35px;
  height: 50px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.one {
  transform: rotate(-6deg);
}

.three {
  transform: rotate(6deg);
}
